
<h1>Welcome! This is the Library</h1>


<h2>Books that we have in our library</h2>

<% @books.each do |book| %>
    <%= book.title %>
    <% if book.available? %>
      <%= link_to "Checkout", checkout_path(book_id: book.id) %>
    <% end %>

<% end %>
